*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100vh;
    background : linear-gradient( red,black);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}
.outer>h1{
    position: absolute;
    top: 60px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 3px 4px black;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 3s steps(20) infinite;

}
.outer>.card{
    height: 300px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 3s;
  
}
.outer>.card:hover{
    transform: translateY(20px);
}
.card>h1{
    margin-top: 20px;
    margin-left: 90px;
}
#card1>img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position:top ;
}
#card2>img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position:top ;
}
#card3>img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position:top ;
}
@keyframes typing {
    0%{
        width: 0;
    }
    50%{
        width: 20ch;
    }
    100%{
        width: 0;
    }
    
}